<h1>Editing blog</h1>

<%= render 'form' %>

<%= link_to 'Show', @blog %> |
<%= link_to 'Back', blogs_path %> <br/>

<div>
<h3>Add a tag</h3>
<%= render 'tags/form' %>
</div>
<hr/>

<<div style= "margin-top:30px">
<% @blog.tags.each do |tag| %>

<span style ="background-color:gray;padding:2px;margin:4px"><%= tag.tag %></span>
<%= link_to 'x', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>





