<p id="notice"><%= notice %></p>

<div style= "margin-top:30px">
<% @blog.tags.each do |tag| %>

<span style ="background-color:yellow;padding:2px;margin:4px"><%= tag.tag %></span>
<% end %>
</div>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>
<div style="padding:20px;background-color:aqua">
<% @comments.each do |comment|%>
<%= comment.name %> - <%= comment.content %><br/>
<% end%>
</div>

<%= link_to 'Add a comment', new_comment_path(:blog_id => @blog.id) %>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

